<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
   	<link rel="shortcut icon" href="#" />

  </head>
  <body> -->

  		<!-- URL VNP SOFTWARE -->
		<!-- <div style="display: block" id="imageDiv">
		</div> -->
  		<!-- Data Repons Bao Kim -->
  		<!-- <img src=/stylesheets/FFFFFF-1.png> -->
  <!-- </body> -->
<!-- </html> -->
<!-- <script> -->
  <!-- //       function loopUrl (){
  //         let str_url = '<%= process.env.URL_VNP %>';
  //         let access_token = '<%= access_token %>';
  //          let arr_url = str_url.split(",");
      //     arr_url.forEach(url=>{
      //         var crate_img = document.createElement("img");
      //         crate_img.setAttribute("src", `http://localhost:3001/api/sso_callback?access_token=${access_token}`);
      //         document.getElementById("imageDiv").appendChild(crate_img);
      //     })
      // }
      // loopUrl(); -->
<!-- </script> -->